<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path('simon-ray-nLl5sJnElxY-unsplash.jpg') %>)">
  <div class="container">
    <h1>MY LISTS</h1>
  </div>
</div>
<br>

<div class="cards-index">
  <% @lists.each do |list| %>
    <div class="card-index" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(<%= asset_path('daizy-isumi-u6Y2X9M8hwk-unsplash.jpg') %>)">
      <div class="card-category">
        <div class="card-content">
          <h2 class="card-title"><%= link_to list.name, list_path(list) %></h2>
        </div>
      </div>
    </div>
  <% end %>
</div>
