<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path('simon-ray-nLl5sJnElxY-unsplash.jpg') %>)">
  <div class="container">
    <h1>MY LISTS</h1>
  </div>
</div>
<br>

<div class="cards-lists">
  <% @lists.each do |list| %>
    <div class="card-category">
      <%= link_to list_path(list), class: "card-link", style: "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(#{asset_path('daizy-isumi-u6Y2X9M8hwk-unsplash.jpg')}));" do %>
        <div class="card-content">
          <h2 class="card-title"><%= list.name %></h2>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
