.cards {
  display: flex;
  flex-wrap: wrap; /* Permet de revenir à la ligne si l'écran est trop petit */
  gap: 20px; /* Espacement entre les cartes */
  justify-content: center; /* Centre les cartes horizontalement */
  padding: 20px;
}

.card {
  width: 700px; /* Largeur fixe pour les cartes */
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: white;
  transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
}

.card-image {
  height: 250px;
  background-size: cover;
  background-position: auto;
}

.card-content {
  padding: 16px;
}

.card-title {
  display: flex;
  align-items: center;
  font-size: 1.1em;
  margin-bottom: 8px;
}

.rating {
  margin-left: 8px;
  color: #f5c518; /* Couleur jaune pour l'étoile */
}

.overview {
  font-size: 0.9em;
  color: #666;
  line-height: 1.5;
  margin-bottom: 10px;
}

.comment {
  font-style: italic;
  color: #555;
  margin-bottom: 10px;
}

.delete-link {
  color: #e74c3c; /* Rouge pour le lien "delete" */
  font-weight: bold;
  text-decoration: none;
}

.cards-index {
  display: flex;
  flex-wrap: wrap; /* Permet de revenir à la ligne si l'écran est trop petit */
  gap: 20px; /* Espacement entre les cartes */
  justify-content: center; /* Centre les cartes horizontalement */
  padding: 20px;
}

.card-index {
  width: 300px; /* Largeur fixe pour les cartes */
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: white;
  transition: transform 0.2s, box-shadow 0.2s;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.card-category {
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  text-decoration: none;
}

.card-title {
  color: white; /* Définit la couleur du texte en blanc */
  font-size: 24px;
}

.card-title a {
  color: white; /* Définit la couleur du lien en blanc */
  text-decoration: none; /* Supprime le soulignement */
}

.card-title a:hover {
  color: #ff40e2; /* Change la couleur au survol (optionnel) */
}
